.home-container {
    padding: 10px;
}

.home-container h1 {
    color: #000000;
    font-size: 24px;
    margin: 0;
    letter-spacing: 0.02em;
}

.home-container h2 {
    color: #7E7E7E;
    font-size: 12px;
    margin-bottom: 27px;
    letter-spacing: 0.02em;
}

.start-button {
    color: #fff;
    font-size: 10px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .home-container {
        padding: 27px 40px;
    }
    
    .home-container h1 {
        color: #000000;
        font-size: 48px;
        margin: 0;
        letter-spacing: 0.02em;
    }
    
    .home-container h2 {
        color: #7E7E7E;
        font-size: 24px;
        margin-bottom: 27px;
        letter-spacing: 0.02em;
    }
    
    .start-button {
        color: #fff;
        font-size: 16px;
    }
}